<a href="https://colab.research.google.com/github/maynak-dev/Machine-Learning/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#System Specifications

In [ ]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed bhi its
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed bhi its
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [ ]:
!cat /proc/meminfo

MemTotal:       13286772 kB
MemFree:         9486724 kB
MemAvailable:   12206392 kB
Buffers:           87136 kB
Cached:          2827828 kB
SwapCached:            0 kB
Active:           404088 kB
Inactive:        3175420 kB
Active(anon):       1404 kB
Inactive(anon):   665180 kB
Active(file):     402684 kB
Inactive(file):  2510240 kB
Unevictable:           8 kB
Mlocked:               8 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:               388 kB
Writeback:             0 kB
AnonPages:        664592 kB
Mapped:           403912 kB
Shmem:              1996 kB
KReclaimable:      95592 kB
Slab:             132272 kB
SReclaimable:      95592 kB
SUnreclaim:        36680 kB
KernelStack:        5712 kB
PageTables:        11428 kB
SecPageTables:         0 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6643384 kB
Committed_AS:    2622992 kB
VmallocTotal:   34359738367 kB
VmallocUsed:       12204 kB
VmallocChunk:          0 kB
Percpu:             1096 kB
HardwareCorrupted:     0 kB
AnonHugePages:         0 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
Unaccepted:            0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:       64304 kB
DirectMap2M:     5175296 kB
DirectMap1G:    10485760 kB

Installing Libraries

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/sample_data/california_housing_train.csv')

In [ ]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

#Python Basics

#Print Functions

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Hello"+"World")

HelloWorld

In [ ]:
print(5+4)

9

#Basic Datatypes
1. Integer (int)
2. Floating Point (float)
3. String (str)
4. Complex (complex)
5. Boolean (bool)

In [ ]:
type(6)

int

In [ ]:
type(6.3)

float

In [ ]:
type("Hello")

str

In [ ]:
type(1+3j)

complex

In [ ]:
type(True)

bool

#Conversion of One DataType to Another

In [ ]:
# int to float
x=10
print(x)
print(type(x))

y=float(x)
print(y)
type(y)

10
<class 'int'>
10.0

float

In [ ]:
# float to int
x=10.5
print(x)
print(type(x))

y=int(x)
print(y)
type(y)

10.5
<class 'float'>
10

int

#Constants & Variables

In [ ]:
marvel_hero="Iron Man"
print(marvel_hero)

Iron Man

In [ ]:
marvel_hero="Captain America"
print(marvel_hero)

Captain America

In [ ]:
hero1,hero2,hero3 = "Iron Man","Captain America","Thor"
print(hero1)
print(hero2)
print(hero3)

Iron Man
Captain America
Thor

#Input Functions

In [ ]:
str1 = input("Enter phrase 1: ")
str2 = input("Enter phrase 2: ")
print(str1 +" "+ str2)

Enter phrase 1: Hello
Enter phrase 2: Maynak
Hello Maynak

In [ ]:
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))
print(num1 + num2)

Enter number 1: 56
Enter number 2: 45
101

In [ ]:
# Changing the data type
num = 5
print(float(num))

5.0

#Types of Objects in Python
1. Immutable Objects
2. Mutable Objects

#Immutable Objects
1. int
2. float
3. string
4. bool
5. tuple

**Tuple**

In [ ]:
tup1 = (1,2,3,4,5)
print(tup1)
type(tup1)

(1, 2, 3, 4, 5)

tuple

In [ ]:
# Tuple allow multiple datatypes
tup2 = (1,2,3.4,4,5,"Hello", True)
print(tup2)

(1, 2, 3.4, 4, 5, 'Hello', True)

In [ ]:
# Converting a list to a tuple
my_list = [1,2,3,4,5]
print(my_list)
my_tuple = tuple(my_list)
print(my_tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

**Tuples are Immutable ---> Unchangeable**

In [ ]:
# tup2.append(7)  //Will give error
print(len(tup2))

7

#Mutable Objects
1. List
2. Set
3. Dictionary

**List**

In [ ]:
#list should be enclosed in square brackets
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [ ]:
#list can have multiple datatypes
my_list = [1,2,3.4,4,5,"Hello", True]
print(my_list)

[1, 2, 3.4, 4, 5, 'Hello', True]

Lists are mutable --> Changeable

In [ ]:
# Add elements to a list
my_list = [1,2,3.4,4,5,"Hello", True]
my_list.append(6)
print(my_list)

[1, 2, 3.4, 4, 5, 'Hello', True, 6]

In [ ]:
# Print elements using index
print(my_list[0])
print(my_list[1])

1
2

In [ ]:
#Lists allow duplicate values
my_list = [1,2,3.4,4,5,"Hello", True, 6, 6, 6]
print(my_list)

[1, 2, 3.4, 4, 5, 'Hello', True, 6, 6, 6]

In [ ]:
print(len(my_list))

10

In [ ]:
#Initialising empty list
my_list1 = []
my_list1.append(5)
print(my_list1)

[5]

In [ ]:
# Delete an element of the list
my_list2 = [1,2,3.4,4,5,"Hello", True]
print(my_list2)
del my_list[0]
print(my_list)

[1, 2, 3.4, 4, 5, 'Hello', True]
[3.4, 4, 5, 'Hello', True, 6, 6, 6]

In [ ]:
# Join two lists
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Set**

In [ ]:
# Set ---> Curly Brackets
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [ ]:
# Index Value does not support in Set
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [ ]:
# Convert a list to a set
my_list = [1,2,3,4,5]
print(my_list)
my_set = set(my_list)
print(my_set)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}

In [ ]:
# Set does not allow duplicate value
my_set = {1,2,3,4,5,5,5}
print(my_set)

{1, 2, 3, 4, 5}

**Dictionary (Key-Value pair)**

In [ ]:
my_dictionary = {"name":"John", "age":30, "city":"New York"}
print(my_dictionary)
type(my_dictionary)

{'name': 'John', 'age': 30, 'city': 'New York'}

dict

In [ ]:
print(my_dictionary["name"])
print(my_dictionary["age"])
print(my_dictionary["city"])

John
30
New York

In [ ]:
# Dictionary does not allow duplicate values
my_dictionary = {"name":"John", "age":30, "city":"New York", "name":"John", "age":30, "city":"New York"}
print(my_dictionary)

{'name': 'John', 'age': 30, 'city': 'New York'}

#Operators in Python
1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

**1. Arithmetic Operators**

In [ ]:
num1=20
num2=10
#addition
sum=num1+num2
print("Sum: ",sum)
#subtraction
diff=num1-num2
print("Difference: ",diff)
#multiplication
prod=num1*num2
print("Product: ",prod)
#division
div=num1/num2
print("Division: ",div)
#modulus
mod=num1%num2
print("Modulus(remainder): ",mod)
#exponent
exp=num1**num2 #num1^num2
print("Exponent: ",exp)
#floor division
floor=num1//num2
print("Floor Division: ",floor)

Sum:  30
Difference:  10
Product:  200
Division:  2.0
Modulus(remainder):  0
Exponent:  10240000000000
Floor Division:  2

**2. Assignment Operators**

In [ ]:
a=5
a+=5 # a=a+5
print(a)
b=6
b-=2
print(b)
c=7
c*=2
print(c)
d=8
d**=3
print(d)
e=9
e/=3
print(e)
f=10
f%=3
print(f)

10
4
14
512
3.0
1

**3. Comparison Operators**

In [ ]:
#Comparison Operators
a=5
b=10
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

**4. Logical Operators**

In [ ]:
#Logical Operators
a=10
print(a>20 and a>5)
print(a>20 or a>5)
print(not(a>20 and a>5))

False
True
True

**5. Identity Operator**

In [ ]:
#Identity Operator
a=5
b=5
print(a is b)
print(a is not b)
x=5
y=10
print(x is y)
print(x is not y)

True
False
False
True

**6. Membership Operator**

In [ ]:
# Membership Operator
a=[1,2,3,4,5]
b=5
c=7
print(1 in a)
print(6 in a)
print(1 not in a)
print(6 not in a)
print(b in a)
print(c in a)
print(c not in a)

True
False
False
True
True
False
True

#If-Else Statement in Python

In [ ]:
# Simple if-else statement
a=30
b=20
if(a>b):
  print("a is the greatest number")
else:
  print("b is the greatest number")

a is the greatest number

In [ ]:
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))
if(num1>num2):
  print("num1 is the greatest number")
else:
  print("num2 is the greatest number")

Enter number 1: 40
Enter number 2: 50
num2 is the greatest number

In [ ]:
# if-elif statement
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))
num3 = int(input("Enter number 3: "))
if(num1>num2 and num1>num3):
  print("num1 is the greatest number")
elif(num2>num1 and num2>num3):
  print("num2 is the greatest number")
else:
  print("num3 is the greatest number")

Enter number 1: 23
Enter number 2: 11
Enter number 3: 109
num3 is the greatest number

In [ ]:
# nested-if statement
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))
num3 = int(input("Enter number 3: "))
if(num1>num2):
  if(num1>num3):
    print("num1 is the greatest number")
  else:
    print("num3 is the greatest number")
else:
  if(num2>num3):
    print("num2 is the greatest number")
  else:
    print("num3 is the greatest number")

Enter number 1: 34
Enter number 2: 11
Enter number 3: 4
num1 is the greatest number

#Loops in Python

In [ ]:
#For loop
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(5):
  print(int(input('Enter number: ')))

Enter number: 1
1
Enter number: 2
2
Enter number: 3
3
Enter number: 4
4
Enter number: 5
5

In [ ]:
numbers=[10,20,30,40,50,60]
for i in numbers:
  print(i)

10
20
30
40
50
60

In [ ]:
# While Loop
a=0
while(a<10):
  print(a)
  a+=1

0
1
2
3
4
5
6
7
8
9

#Functions in Python

In [ ]:
# Factorial of a Number
num = int(input('Enter a number to find its factorial: '))
factorial = 1
if(num == 0):
  print("The Factorial of 0 is 1")
else:
  for i in range(1, num+1):
    factorial=factorial*i
  print('The Factorial of ',num,'is :',factorial)

Enter a number to find its factorial: 1
The Factorial of  1 is : 1

In [ ]:
# Factorial using Function
def fact_func(number):
  fact=1
  if(number==0):
    return fact
  else:
    for i in range(1,number+1):
      fact=fact*i
    return fact
print(fact_func(5))

120

In [ ]:
print(fact_func(9))

362880